src/test/resources/configuration/WSReferences/WSСсылка1/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="https://www.w3schools.com/xml/"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="https://www.w3schools.com/xml/"
		targetNamespace="https://www.w3schools.com/xml/">
	<types>
		<s:schema xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
				xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
				xmlns:s="http://www.w3.org/2001/XMLSchema"
				xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				elementFormDefault="qualified"
				targetNamespace="https://www.w3schools.com/xml/">
			<s:element name="FahrenheitToCelsius">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Fahrenheit"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="FahrenheitToCelsiusResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="FahrenheitToCelsiusResult"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CelsiusToFahrenheit">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="Celsius"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="CelsiusToFahrenheitResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0"
								maxOccurs="1"
								name="CelsiusToFahrenheitResult"
								type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="string"
					nillable="true"
					type="s:string"/>
		</s:schema>
	</types>
	<message name="FahrenheitToCelsiusSoapIn">
		<part name="parameters"
				element="tns:FahrenheitToCelsius"/>
	</message>
	<message name="FahrenheitToCelsiusSoapOut">
		<part name="parameters"
				element="tns:FahrenheitToCelsiusResponse"/>
	</message>
	<message name="CelsiusToFahrenheitSoapIn">
		<part name="parameters"
				element="tns:CelsiusToFahrenheit"/>
	</message>
	<message name="CelsiusToFahrenheitSoapOut">
		<part name="parameters"
				element="tns:CelsiusToFahrenheitResponse"/>
	</message>
	<message name="FahrenheitToCelsiusHttpPostIn">
		<part name="Fahrenheit"
				type="xsd:string"/>
	</message>
	<message name="FahrenheitToCelsiusHttpPostOut">
		<part name="Body"
				element="tns:string"/>
	</message>
	<message name="CelsiusToFahrenheitHttpPostIn">
		<part name="Celsius"
				type="xsd:string"/>
	</message>
	<message name="CelsiusToFahrenheitHttpPostOut">
		<part name="Body"
				element="tns:string"/>
	</message>
	<portType name="TempConvertSoap">
		<operation name="FahrenheitToCelsius">
			<input name="FahrenheitToCelsiusRequest"
					message="tns:FahrenheitToCelsiusSoapIn"/>
			<output name="FahrenheitToCelsiusResponse"
					message="tns:FahrenheitToCelsiusSoapOut"/>
		</operation>
		<operation name="CelsiusToFahrenheit">
			<input name="CelsiusToFahrenheitRequest"
					message="tns:CelsiusToFahrenheitSoapIn"/>
			<output name="CelsiusToFahrenheitResponse"
					message="tns:CelsiusToFahrenheitSoapOut"/>
		</operation>
	</portType>
	<portType name="TempConvertHttpPost">
		<operation name="FahrenheitToCelsius">
			<input name="FahrenheitToCelsiusRequest"
					message="tns:FahrenheitToCelsiusHttpPostIn"/>
			<output name="FahrenheitToCelsiusResponse"
					message="tns:FahrenheitToCelsiusHttpPostOut"/>
		</operation>
		<operation name="CelsiusToFahrenheit">
			<input name="CelsiusToFahrenheitRequest"
					message="tns:CelsiusToFahrenheitHttpPostIn"/>
			<output name="CelsiusToFahrenheitResponse"
					message="tns:CelsiusToFahrenheitHttpPostOut"/>
		</operation>
	</portType>
	<binding name="TempConvertSoap"
			type="tns:TempConvertSoap">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="FahrenheitToCelsius">
			<soapbind:operation style="document"
					soapAction="https://www.w3schools.com/xml/FahrenheitToCelsius"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="CelsiusToFahrenheit">
			<soapbind:operation style="document"
					soapAction="https://www.w3schools.com/xml/CelsiusToFahrenheit"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="TempConvertSoap12"
			type="tns:TempConvertSoap">
		<soap12bind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="FahrenheitToCelsius">
			<soap12bind:operation style="document"
					soapAction="https://www.w3schools.com/xml/FahrenheitToCelsius"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
		<operation name="CelsiusToFahrenheit">
			<soap12bind:operation style="document"
					soapAction="https://www.w3schools.com/xml/CelsiusToFahrenheit"/>
			<input>
				<soap12bind:body use="literal"/>
			</input>
			<output>
				<soap12bind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="TempConvertHttpPost"
			type="tns:TempConvertHttpPost">
		<operation name="FahrenheitToCelsius">
			<input/>
			<output/>
		</operation>
		<operation name="CelsiusToFahrenheit">
			<input/>
			<output/>
		</operation>
	</binding>
	<service name="TempConvert">
		<port name="TempConvertSoap"
				binding="tns:TempConvertSoap">
			<soapbind:address location="http://www.w3schools.com/xml/tempconvert.asmx"/>
		</port>
		<port name="TempConvertSoap12"
				binding="tns:TempConvertSoap12">
			<soap12bind:address location="http://www.w3schools.com/xml/tempconvert.asmx"/>
		</port>
		<port name="TempConvertHttpPost"
				binding="tns:TempConvertHttpPost"/>
	</service>
</definitions>